.git

.idea

node_modules

vendor

public/storage

bootstrap/cache/**

storage/framework/cache/**

storage/framework/sessions/**

storage/framework/views/**

storage/app/pictures

storage/app/public

storage/app/private

storage/logs/**
